/* DRACULA THEME */
div#content.style-scope.ytd-app,
ytd-app,
div#channel-container.style-scope.ytd-c4-tabbed-header-renderer,
div#background.style-scope.tp-yt-app-header,
tp-yt-app-header#header.style-scope.ytd-c4-tabbed-header-renderer {
  --yt-spec-brand-background-primary: #333444;
  --yt-spec-brand-background-secondary: #191A21;
  --yt-spec-brand-background-solid: #282a36;
  --yt-spec-general-background-a: #222222;
  --yt-spec-general-background-b: #222222;
  --yt-spec-general-background-c: #282a36;
  --yt-spec-error-background: #f9f9f9;
  --yt-spec-text-primary: #66d482;
  --yt-spec-text-primary-inverse: #000000;
  --yt-spec-text-secondary: #bd93f9;
  --yt-spec-text-disabled: #44475a;
  --yt-spec-call-to-action: #bd93f9;
  --yt-spec-icon-active-other: #bd93f9;
  --yt-spec-icon-inactive: #6272a4;
  --yt-spec-icon-disabled: #44475a;
  --yt-spec-badge-chip-background: rgba(255, 255, 255, 0.1);
  --yt-spec-verified-badge-background: rgba(255, 255, 255, 0.25);
  --yt-spec-suggested-action: #252a3a;
  --yt-spec-button-chip-background-hover: rgba(255, 255, 255, 0.2);
  --yt-spec-touch-response: #fff;
  --yt-spec-paper-tab-ink: rgba(255, 255, 255, 0.3);
  --yt-spec-filled-button-text: #030303;
  --yt-spec-call-to-action-inverse: #141a22;
  --yt-spec-brand-icon-active: #fff;
  --yt-spec-brand-icon-inactive: #909090;
  --yt-spec-brand-button-background: #ff5555;
  --yt-spec-brand-link-text: #ff5555;
  --yt-spec-filled-button-focus-outline: rgba(255, 255, 255, 0.7);
  --yt-spec-call-to-action-button-focus-outline: rgba(62, 166, 255, 0.3);
  --yt-spec-brand-text-button-focus-outline: rgba(255, 78, 69, 0.3);
  --yt-spec-inactive-text-button-focus-outline: #606060;
  --yt-spec-ad-indicator: #00aaa7;
  --yt-spec-wordmark-text: #fff;
  --yt-spec-10-percent-layer: rgba(255, 255, 255, 0.1);
  --yt-spec-selected-nav-text: #fff;
  --yt-spec-themed-blue: #673AB7;
  --yt-spec-themed-green: #fa508e;
  --yt-spec-themed-overlay-background: rgba(218, 21, 21, 0.8);
}

/* COLOR OF TITLE OF VIDEO */
h1.style-scope.ytd-watch-metadata {
  color: white
}

/* BIG SCRUBBER BAR */
div.ytp-progress-bar-container {
  height: 8px;
}

div.ytp-scrubber-container {
  top: -2.5px;
}

/* CHANGE COLOR SCRUBBER BAR */
div.ytp-swatch-background-color {
  background-color: #ff00c8
}

/* BIG TIME AND CHAPTER TITLE */
div.ytp-time-display,
div.ytp-chapter-container,
div.ytp-hover-progress {
  font-size: 140%;
  font-weight: bolder;
}

/* HIDE STUFF NO SEE */
yt-icon.style-scope.ytd-badge-supported-renderer,
yt-icon#logo-icon.style-scope.ytd-logo,
yt-icon.style-scope.ytd-menu-renderer,
#top-level-buttons-computed,
#voice-search-button,
ytd-mini-guide-renderer,
#related,
tp-yt-app-drawer,
.ytd-masthead #buttons:not(#avatar-btn), 
#guide-button,
[class="style-scope ytd-comments"] {
  display: none !important;
}

/* BIG SUBTITLES */
.caption-window {
  background: transparent !important;
  overflow: visible !important;
}

.ytp-caption-segment {
  text-shadow:
    rgb(0, 0, 0) 0 0 .1em,
    rgb(0, 0, 0) 0 0 .2em,
    rgb(0, 0, 0) 0 0 .4em,
    rgb(0, 0, 0) 0 0 .8em,
    transparent 0 0 0 !important;
  background: transparent !important;
  font-weight: bold !important;
}

/* CSS FOR SEARCH HOME SCREEN */
.home-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search-input {
  padding: 8px;
  min-width: 250px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-btn {
  border: none;
  height: 40px;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0 16px;
  transition: background 100ms ease-in-out;
}

.search-icon-container {
  height: 24px;
  width: 24px;
}

.logo {
  width: 200px;
  color: white;
  fill: white;
}

.search-input {
  border: 1px solid rgb(48, 48, 48);
  background: rgb(18, 18, 18);
  color: white;
  border-radius: 24px;
  font-size: 24px;
  padding: 20px;
  display: flex;
  z-index: 3;
  width: 638px;
  height: 44px;
  margin: 20px;
}

.search-input:hover {
  box-shadow: 0 0 8px 1px #6d6d6d;
}

.search-group {
  height: 100px;
  display: flex;
}

html,
body {
  height: 100vh;
}

.myYtButtonsContainer {
  display: flex;
}

.myYtButton {
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 20px;
  padding: 20px;
  transition: all 0.15s ease-in 0s;
  height: 20px;
}

.myYtButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}